
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydeck==0.9.1
pyee==13.0.0
Pygments==2.18.0
PyJWT==2.10.1
pylance==0.20.0
pylibsrtp==0.11.0
pylint==3.3.1
pyOpenSSL==25.0.0
pyparsing==3.1.4
pypdf==5.1.0
pypdfium2==4.30.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.2.0
pyright==1.1.390
pysbd==0.3.4
PySocks==1.7.1
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7

streamlit==1.38.0
streamlit-webrtc==0.53.3
